div.sc-dlfnbm.fPtAxm {
    margin: 0px;
    padding: 0px;
    height: 332px;
}

div.MuiBox-root {
    padding: 0px;
    margin: 0px;
}

.MuiPaper-root.MuiAppBar-root.MuiAppBar-positionStatic.MuiAppBar-colorDefault.MuiPaper-elevation4{
    height: 0px;
    background-color: white;
    margin-bottom: 48px;
}

span.MuiTab-wrapper {
    color: black;
}
